<!DOCTYPE html>
<html>
   <body>
      <h3>Exclusão de Proprietario</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <form action = "" method = "POST">
         <input type="hidden" name="id" value="{{ proprietario.id }}" /><br>
         Nome: {{ proprietario.nome }}<br>
         Endereço: {{ proprietario.endereco }}<br>
         Data Nascimento: {{ proprietario.data_nascimento }}<br>
         Email: {{ proprietario.email }}<br>
         Fone: {{ proprietario.fone }}<br>
         Identidade: {{ proprietario.doc_identidade }}<br>
         CPF:{{ proprietario.cpf }}<br>
         _ID_Imovel: {{ proprietario._id_imovel }}<br>
         <input type="submit" value="Excluir" />
      </form>
      <h3>
         <a href = "{{ url_for('show_all_proprietarios') }}">Voltar para Lista</a>
      </h3>
   </body>
</html>