<!DOCTYPE html>
<html>
    <body>
        <h3>Cadastro de Proprietario</h3>
        <hr/>
        
        {%- for category, message in get_flashed_messages(with_categories = true) %}
            <div class = "alert alert-danger">
                {{ message }}
            </div>
        {%- endfor %}

        <form action = "" method = "POST">
            <input type="hidden" name="id" value="{{proprietario.id}}"/><br>
            <input type="text" name="nome" placeholder="Nome" value="{{proprietario.nome}}"/><br>
            <input type="text" name ="endereco" placeholder ="Endereço" value="{{proprietario.endereco}}"/><br>
            <input type="date" name ="data_nascimento" placeholder ="Data de Nascimento" value="{{proprietario.data_nascimento}}"/><br>
            <input type="email" name ="email" placeholder ="@...mail..." value="{{proprietario.email}}"/><br>
            <input type="tel" name="fone" placeholder="Celular" value="{{proprietario.fone}}" pattern="[0-9]{2}-[0-9]{5}-[0-9]{4}"/><br>
            <input type="text" name ="doc_identidade" placeholder ="Documento Identidade" value="{{proprietario.doc_identidade}}"/><br>
            <input type="integer" name="cpf" placeholder="CPF" value="{{proprietario.cpf}}"/><br>
            <input type="integer" name ="_id_imovel" placeholder ="ID do Imovel" value="{{proprietario._id_imovel}}"/><br>
            <input type="submit" value="Atualizar"/>
        </form>
        <h3>
            <a href = "{{ url_for('show_all_proprietarios') }}">Voltar para Lista</a>
        </h3>
    </body>
</html>